/*
The underscore on the filename indicates that this is a 'partial' and will be used by other styles.  The underscore
is ommitted when we import this file.

font-family has 3 options, but they are just fallbacks - it will pick the first one it finds available

rem is used for sizing as it's better for screen readers.  1 rem = 16 pixels.  For easy calculations, we set the overall
font-size of all html to be 62.5% since 62.5% of 16 pixels = 10 pixels.

Conventionally we use alphabetical order, so background comes before font-family

cursor: pointer shows up as a little hand icon
*/
html {
  font-size: 62.5%;
}
body {
  background: peachpuff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}